/* Fuente Roboto (400 y 700) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Fuente Coiny */
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


* {
    box-sizing: border-box;
    
}

/*
FONT WEIGHT: Maneja el grosor/peso de la letra
   normal → peso normal (equivale a 400)
   bold → negrita (equivale a 700)
   lighter → más liviano que el elemento padre
   bolder → más grueso que el elemento padre
*/

/*-----INICIO DE CONFIGURACIONES GENERALES ----- */

.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
    width: 90%;

}

h1 {
    font-size: 64px;
    font-weight: normal;
    width: 650px;
    height: auto;
}

h3 {
    font-weight: 900;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/*-----FINAL DE CONFIGURACIONES GENERALES ----- */




/*-----INICIO DE CONFIGURACIONES DEL HEADER ----- */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo {
    width: 15%;
    height: auto;
}

.header .nav {
    width: 40%;
}


.header .nav .lista {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.header .nav .lista li {
    font-size: 20px;
}


/*-----FINAL DE CONFIGURACIONES DEL HEADER ----- */



/*---------------   INICIO DE CONFIGURACIONES DEL MAIN   ---------------*/

.main .inicio {
    font-size: 22px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    vertical-align: top;
    box-sizing: border-box;
    
}



.main .inicio .somos {
    width: 500px;
    height: auto;
    margin: 10px;
}

.main .inicio .somos h1 {
    width: 100%;
    font-size: 48px;
}


.main .inicio .somos h1 strong {
    font-family: 'Coiny', cursive;
    font-size: 88px;
}


.main .inicio .somos h2 {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    background-color: yellow;
}


.main .inicio .somos p {
    font-size: 24px;
}



.main .inicio .imagen {
    grid-column: 2;
    grid-row: 1;
}

.main .inicio .imagen .foto {
    width: 80%;
    height: auto;
    display: block;
}






.main .inicio .saludo {
    width: 550px;
    height: auto;
    margin: 10px;
}

.main .inicio .gestion {
    grid-column: 2;
    grid-row: 2;
    width: 550px;
    height: auto;
    margin: 10px;
    margin-left: 50px;
}

.resaltado {
    background-color: yellow;
    padding-left: 5px;
    padding-right: 5px;
}



.servicios {
    display: flex;
    padding: 5px 50px;
    align-items: center;
}

.servicios .imagenServicios img {
    width: 50%;
    height: auto;

}

.servicios h2 {
    font-size: 41px;
    width: 275px;
    height: auto;
}

.servicios .lista {
    font-size: 24px;
    list-style-position: inside;
    padding-left: 10px;
    width: fit-content;
}


.servicios .lista li {
    margin: 5px 0px;
}

.servicios .lista #empezamos {
    background-color: yellow;
    width: fit-content;
    padding: 2px 4px;
}






.contacto {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;

}

.contacto .texto {
    width: fit-content;
    height: auto;
}

.contacto .texto h3 span {
    font-size: 51px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 5px;
}

.contacto .texto .enviarMail {
    background-color: yellow;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 50px;
}



.contacto .formulario {
    width: 35%;
    height: auto;

}

.formulario #nombre,
.formulario #email,
.formulario #mensaje {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;

}


.formulario span {
    color: red;
    font-weight: 800;
}

.formulario .botones {
    display: flex;
    justify-content: space-between;

}

.formulario .botones button {
    background-color: black;
    color: white;
    font-size: 20px;
}

.formulario input{
    font-size: 50px;
    padding: 5px 0 5px 0;
}



/*---------------   FINAL DE CONFIGURACIONES DEL MAIN   ---------------*/




/*---------------   INICIO DE CONFIGURACIONES DEL ASIDE   ---------------*/
.aside .redesSociales {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.aside p {
    width: fit-content;
    font-weight: 700;
    font-size: 26px;
    color: #808080;
}


.aside img {
    width: 117.51px;
    height: 106.14px;
}

/*---------------   FINAL DE CONFIGURACIONES DEL ASIDE   ---------------*/



/*---------------   INICIO DE CONFIGURACIONES DEL FOOTER   ---------------*/
.footer {
    background-color: yellow;
    display: flex;
    align-items: center;
    height: 100px;
}

.footer span {

    font-family: 'Coiny', cursive;
    font-size: 30px;
    font-weight: 400;
    margin-right: 100px;
}

.footer .mail {
    font: weight 400px;
    font-size: 21px;

}

/*---------------   FINAL DE CONFIGURACIONES DEL FOOTER   ---------------*/